.menuul{
    list-style-type: none;
    margin:0;
    padding: 0 10px 0 0;
    width: fit-content;
}

.menuul li{
    text-decoration: none;
    padding: 10px 10px;
}

.menuul a{
    text-decoration: none;
}